LOADING OR IMPORTING LIBRARIES

In [37]:
import pandas as pd

lOADING DATA  IN PANDAS

In [38]:
df=pd.read_csv("Pokemon.csv")

PRINT THE FIRST THREE ROWS

In [39]:
# df.head(3)

READING DATA IN PANDAS

In [40]:
#Read headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [41]:
#Read each column
print(df['Name'][0:5])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [42]:
#Read each column
print(df[['Name','Type 1','Type 2','Total','HP']])

                      Name   Type 1  Type 2  Total  HP
0                Bulbasaur    Grass  Poison    318  45
1                  Ivysaur    Grass  Poison    405  60
2                 Venusaur    Grass  Poison    525  80
3    VenusaurMega Venusaur    Grass  Poison    625  80
4               Charmander     Fire     NaN    309  39
..                     ...      ...     ...    ...  ..
795                Diancie     Rock   Fairy    600  50
796    DiancieMega Diancie     Rock   Fairy    700  50
797    HoopaHoopa Confined  Psychic   Ghost    600  80
798     HoopaHoopa Unbound  Psychic    Dark    680  80
799              Volcanion     Fire   Water    600  80

[800 rows x 5 columns]

In [43]:
# #Read each row
# print(df.iloc[0:4])

In [44]:
# for index,row in df.iterrows():
#     print(index,row)

In [45]:
# for index,row in df.iterrows():
#     print(index,row['Name'])

In [46]:
#Read a specific location
df.loc[df['Type 1']=="Dragon"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
159,147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
160,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
161,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False
365,334,Altaria,Dragon,Flying,490,75,70,90,70,105,80,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,590,75,110,110,110,105,80,3,False
406,371,Bagon,Dragon,NaN,300,45,75,60,40,30,50,3,False
407,372,Shelgon,Dragon,NaN,420,65,95,100,60,50,50,3,False
408,373,Salamence,Dragon,Flying,600,95,135,80,110,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,700,95,145,130,120,90,120,3,False
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True
418,380,LatiasMega Latias,Dragon,Psychic,700,80,100,120,140,150,110,3,True
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
425,384,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
491,443,Gible,Dragon,Ground,300,58,70,45,40,45,42,4,False
492,444,Gabite,Dragon,Ground,410,68,90,65,50,55,82,4,False
493,445,Garchomp,Dragon,Ground,600,108,130,95,80,85,102,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
671,610,Axew,Dragon,NaN,320,46,87,60,30,40,57,5,False
672,611,Fraxure,Dragon,NaN,410,66,117,70,40,50,67,5,False
673,612,Haxorus,Dragon,NaN,540,76,147,90,60,70,97,5,False
682,621,Druddigon,Dragon,NaN,485,77,120,90,60,90,48,5,False
706,643,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True
707,644,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True
710,646,Kyurem,Dragon,Ice,660,125,130,90,130,90,95,5,True
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
774,704,Goomy,Dragon,NaN,300,45,50,35,55,75,40,6,False
775,705,Sliggoo,Dragon,NaN,452,68,75,53,83,113,60,6,False
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

SORTING AND DESCRIBING DATA

In [47]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [48]:
# df.sort_values(['Name','HP'],ascending=False)

In [49]:
# df.sort_values(['Type 1','HP'],ascending=[0,1])

In [50]:
# df.head(5)

In [51]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

MAKE CHANGES TO THE DATA

In [52]:
# 45+49+49+65+65+45

REMOVE A COLUMN FROM THE DATAFRAME

In [53]:
df.drop(columns=['Total'])
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [54]:
# df['Total']=df.iloc[:,4:10].sum(axis=1)
# df.head(5)

In [55]:
# df['Total']=df.iloc[:,4:10].sum(axis=1)
# cols=df.columns.values
# df=df[['Total','HP','Defense']]
# df.head(5)

In [56]:
# df['Total']=df.iloc[:,4:10].sum(axis=1)
# cols=list(df.columns)
# df=df[cols[0:4] + [cols[-1]] + cols[4:12]]
# df.head(5)

FILTERING

In [57]:
# new_df=df.loc[(df['Type 1']=='Grass') &  (df['Type 2']=='Poison') & (df['HP'] <70)  ]
# new_df.to_csv('filtered.csv')

# new_df.reset_index(drop=True,inplace=True)

# new_df

In [58]:
# df.loc[~df['Name'].str.contains('Mega')]

In [59]:
# import re
# df.loc[~df['Type 1'].str.contains('fire | grass',flags=re.I,regex=True)]

MEANT TO SAY ONE OR MORE

In [60]:
# import re
# df.loc[df['Type 1'].str.contains('%pi[a-z]*',flags=re.I,regex=True)]
# df

In [61]:
# import re
# df.loc[df['Type 1'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]
# df

CONDITIONAL CHANGES

In [62]:
# df.loc[df['Type 1']== 'Fire', 'Legendary'] = True
# df

In [63]:
df=pd.read_csv('Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [64]:
# df.loc[df['Total']>500,['Generation','Legendary']] = 'TEST VALUE'
# df

In [65]:
# df.loc[df['Total']>500,['Generation','Legendary']] = ['Test 1','Test 2']
# df

AGREGATE STATISTICS(GroupBy)

In [66]:



df=pd.read_csv('Pokemon.csv')
df['count']=1
df.groupby(['Type 1']).count()['count']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,1

In [67]:
# df.groupby(['Type 1']).count()
# df

WORKING WITH A LARGE AMOUNT OF DATASET

In [71]:
new_df= pd.DataFrame(columns=df.columns)
for df in pd.read_csv('Pokemon.csv',chunksize= 5):
     results = df.groupby(['Type 1'])
new_df

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []